Repository PowerSystem2024/EliteCoders-CuartoSemestre, pull requests merged in 2025-10, with the labels that each got.

#77 Clase 24/09
  Java/Leccion03/tienda_libros/.gitattributes
  Java/Leccion03/tienda_libros/.gitignore
  Java/Leccion03/tienda_libros/.mvn/wrapper/maven-wrapper.properties
  Java/Leccion03/tienda_libros/mvnw
  Java/Leccion03/tienda_libros/mvnw.cmd
  Java/Leccion03/tienda_libros/pom.xml
  Java/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/TiendaLibrosApplication.java
  Java/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/modelo/Libro.java
  Java/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/repositorio/LibroRepositorio.java
  Java/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/servicio/ILibroServicio.java
  Java/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/servicio/LibroServicio.java
  Java/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.form
  Java/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.java
  Java/Leccion03/tienda_libros/src/main/resources/application.properties
  Java/Leccion03/tienda_libros/src/main/resources/logback-spring.xml
  Java/Leccion03/tienda_libros/src/test/java/utn/tienda_libros/TiendaLibrosApplicationTests.java
  Node/01-Hola-Mundo/entorno.js
  Python/Clase01/dar_formato_str.py
  Python/Clase01/f_string.py
Labels: Java, Node

#78 PERN Parte 2
  JavaScript/PERN-stack/package.json
  JavaScript/PERN-stack/src/controllers/tareas.controller.js
  JavaScript/PERN-stack/src/database/init.sql
  JavaScript/PERN-stack/src/db.js
  JavaScript/PERN-stack/src/index.js
  JavaScript/PERN-stack/src/router/tareas.routes.js
Labels: JavaScript, Node

#80 Agregando Clase PROGRAMACION IV MIÉRCOLES 01/10 Clase 8 Node y Java
  Java/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/TiendaLibrosApplication.java
  Java/Leccion03/tienda_libros/src/main/java/utn/tienda_libros/vista/LibroForm.java
  Node/Fundamentos_node/async/callback.js
Labels: Java, Node

#84 mejoras de permisos, seguridad y datos iniciales
  Proyecto Integrador E-Commerce/README.md
  Proyecto Integrador E-Commerce/core/fixtures/initial_data.json
  Proyecto Integrador E-Commerce/core/permissions.py
  Proyecto Integrador E-Commerce/core/serializers.py
  Proyecto Integrador E-Commerce/core/urls.py
  Proyecto Integrador E-Commerce/core/views.py
  Proyecto Integrador E-Commerce/ecommerce/settings.py
  Proyecto Integrador E-Commerce/ecommerce/urls.py
  Proyecto Integrador E-Commerce/requirements.txt
Labels: Python
